<mat-card class="item-card">
  <mat-card-header>
    <mat-card-title>{{ property.title }}</mat-card-title>
    <mat-card-subtitle>{{ property.createdAt | date: 'short' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="description">
      {{ property.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions-wrap">

    <button mat-button
            color="warn"
            (click)="removeButtonClicked.emit(property.id)"
            [disabled]="isActionButtonsDisabled">
      remove
    </button>

    <button mat-button
            (click)="updateButtonClicked.emit(property)"
            [disabled]="isActionButtonsDisabled">
      update
    </button>

  </mat-card-actions>
</mat-card>
