.dialog-wrap {
  position: relative;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.close-icon {
  position: absolute;
  right: -20px;
  top: -20px;
}
