<div class="dialog-wrap">
  <div class="header" mat-dialog-title>
    {{ 'Update property' }}
  </div>

  <button
    class="close-icon"
    mat-icon-button
    aria-label="Close"
    [mat-dialog-close]
    [disabled]="isFormSubmitting"
  >
    <mat-icon>clear</mat-icon>
  </button>

  <app-modify-property-form
    [isFormSubmitting]="isFormSubmitting"
    [title]="data.title"
    [description]="data.description"
    (messageFormSubmitted)="onMessageFormSubmitted($event)">
  </app-modify-property-form>
</div>
